
<div class="container">
    <h1>Editar currículum</h1>

    <div class="row">
        <div class="col-md-4">
            <img src="" alt="Foto">
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Datos personales</h5>
                    <ul class="list-group">
                        <li class="list-group-item">Nombre: Adrian</li>
                        <li class="list-group-item">Apellido: Valdez</li>
                        <li class="list-group-item">Correo: valdezadriangildardo@gmail.com</li>
                        <li class="list-group-item">Fecha de nacimiento: 23/09/2004</li>
                        <li class="list-group-item">Dirección: Sm41</li>
                    </ul>
                    <h5 class="card-title">Objetivos</h5>
                    <p>Ser senior en ASP.Net</p>
                </div>
            </div>
        </div>
    </div>

</div>
